@model IEnumerable<MidoriBookStore.Models.Book>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Midori Book Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="@Url.Content("~/Content/css_admin/header_admin.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/js_admin/js_header.js")"
            type="text/javascript"></script>
    <link href="@Url.Content("~/Content/footer.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css_admin/button_admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css_admin/share_admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/searchbar.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css_admin/slidebar_admin.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/footer-distributed-with-address-and-phones.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/search_more.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/search_drop.js")"
            type="text/javascript"></script>
</head>
<body>
    <div class="hdfull">
        <header class="main_h">

            <div class="row">
                <a class="logo" href="/Home/Index">MIDORI</a>

                <div class="mobile-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <nav>
                    <ul>
                        <li>
                            <svg style="display: none">
                                <symbol id="magnify" viewBox="0 0 18 18" height="100%" width="100%">
                                    <path d="M12.5 11h-.8l-.3-.3c1-1.1 1.6-2.6 1.6-4.2C13 2.9 10.1 0          6.5 0S0 2.9 0 6.5 2.9 13 6.5 13c1.6 0 3.1-.6 4.2-1.6l.3.3v.8l5 5          1.5-1.5-5-5zm-6 0C4 11 2 9 2 6.5S4 2 6.5 2 11 4 11 6.5 9 11 6.5            11z" fill="#fff" fill-rule="evenodd" />
                                </symbol>
                            </svg>

                            <form action="/Home/Search" method="post">
                                <div class="search-bar">

                                    <input type="text" class="input" name="SearchString" placeholder="&nbsp;">
                                    <span class="label">Book name</span>
                                    <span class="highlight"></span>

                                    <div class="search-btn">
                                        <svg class="icon icon-18">
                                            <use xlink:href="#magnify"></use>
                                        </svg>
                                    </div>
                                </div>
                            </form>

                        </li>


                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>

                        <li>
                            <a href="/AddToCart/Index" class="cart-icon" id="cart">
                                <i class="fa fa-shopping-cart"></i>

                                @if (Session["CountCart"] != null)
                                {
                                    <span style="font-size: 10px; color: brown">
                                        (@Session["CountCart"].ToString())
                                    </span>
                                }

                            </a>
                        </li>

                        <li><button class="btn draw-border">LOG IN</button></li>
                        <li><button class="btn draw-border">SIGN UP</button></li>
                    </ul>
                </nav>

            </div> <!-- / row -->

        </header>


        <div class="hero">

            <h1><span>Welcome Administrator</span><br>Midori Book Store</h1>

            <div class="mouse">
                <span></span>
            </div>

        </div>


    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer class="footer-distributed">

        <div class="footer-left">

            <h3>Midori<span>BookStore</span></h3>

            <p class="footer-links">
                <a href="/Home/Index">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="/Home/About">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="/Home/Contact">Contact</a>
            </p>

            <p class="footer-company-name">Midori Book Store &copy; 2019</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>SE1209 FPT University</span> Hola, Vietnam</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+84 123456 1209</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@midori.com">support@midori.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About this website</span>
                We create the website to get the good grade from our teacher - LE PHUONG CHI.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>