@using MidoriBookStore.Models.AddToCart
<link href="@Url.Content("~/Content/cart/check_out.css")" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var shop = new ShoppingCart((List<CartItem>)ViewData["cart"]);
    var cart = (List<CartItem>)ViewData["cart"];
}


<div class="content-wrapper">
    <div class="checkout-detail">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in cart)
                {

                    <tr>
                        <td>@item.GetBookById().BookTitle</td>
                        <td>@item.Quantity</td>
                        <td>@item.Total</td>
                    </tr>
                }
                <tr>
                    <td colspan="2">Total</td>
                    <td>@shop.GetTotalPrice()</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="payment-detail">
        <div class="payment-head">
            <label for="logo">Checkout</label>

        </div>
        <form action="#">
            <div class="input-wrap">
                <label for="">Your Phone Number</label>
                <input type="number" id="" maxlength="12" />
            </div>
            <div class="input-wrap">
                <label for="">Your Name</label>
                <input type="text" />
            </div>

            <div class="submit-wrap">
                <input type="submit" value="Purchase" />
            </div>
        </form>
    </div>
</div>

