@using MidoriBookStore.Models.AddToCart


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{
    var data = (List<CartItem>)ViewData["cart"];
}

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Total
        </th>

    </tr>

    @foreach (var item in data)
    {
        <tr>
            <td>
                @item.BookId
            </td>
            <td>
                @item.BookTitle
            </td>
            <td>
                @item.BookPrice
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Total
            </td>

            <td>
                @Html.ActionLink(
    "Delete",
    "Delete",
    new { confirm = true, id = item.BookId },
    new { onclick = "return confirm('Do you really want to delete this product from cart?')" })


            </td>

        </tr>
    }

</table>

